In [10]:
import pandas as pd
import numpy as np
import os
print os.getcwd()
dir = "/Users/walterdempsey/Box/MD2K Processed Data/smoking-lvm-cleaned-data/"
os.chdir(dir)
os.getcwd()

/Users/walterdempsey/Box/MD2K Processed Data/smoking-lvm-cleaned-data

'/Users/walterdempsey/Box/MD2K Processed Data/smoking-lvm-cleaned-data'

In [11]:
# read data
original_data = pd.read_csv(dir + "puff-episode.csv")
original_data = original_data.drop(['offset'], axis=1)
backup_data = pd.read_csv(dir + "puff-episode-backup.csv")

original_data = original_data.dropna()
backup_data = backup_data.dropna()

In [12]:
# check data types
print(original_data.dtypes)
print("")
print(backup_data.dtypes)

timestamp         float64
event               int64
participant_id      int64
date               object
hour                int64
minute              int64
day_of_week        object
dtype: object

timestamp         float64
event               int64
participant_id      int64
date               object
hour                int64
minute              int64
day_of_week        object
dtype: object

In [13]:
# convert data types to be consistent
original_data['participant_id'] = original_data['participant_id'].astype(float)
original_data['event'] = original_data['event'].astype(float)
original_data['hour'] = original_data['hour'].astype(float)
original_data['minute'] = original_data['minute'].astype(float)

backup_data['event'] = backup_data['event'].astype(float)
backup_data['participant_id'] = backup_data['participant_id'].astype(float)
backup_data['hour'] = backup_data['hour'].astype(float)
backup_data['minute'] = backup_data['minute'].astype(float)

print(original_data.dtypes)
print(backup_data.dtypes)

timestamp         float64
event             float64
participant_id    float64
date               object
hour              float64
minute            float64
day_of_week        object
dtype: object
timestamp         float64
event             float64
participant_id    float64
date               object
hour              float64
minute            float64
day_of_week        object
dtype: object

In [14]:
# summary of phone data
print("SMOKING_EPISODE Phone Data Summary:")
print(original_data.describe())

SMOKING_EPISODE Phone Data Summary:
          timestamp  event  participant_id        hour      minute
count  4.200000e+02  420.0      420.000000  420.000000  420.000000
mean   1.522232e+12    1.0      228.002381   15.014286   28.966667
std    1.540222e+10    0.0       17.015295    4.886276   17.467702
min    1.500000e+12    1.0      201.000000    0.000000    0.000000
25%    1.510000e+12    1.0      214.000000   12.000000   14.000000
50%    1.520000e+12    1.0      228.000000   16.000000   29.000000
75%    1.536602e+12    1.0      244.000000   18.000000   44.000000
max    1.544810e+12    1.0      253.000000   23.000000   59.000000

In [15]:
# summary of cloud data
print("PUFF_PROBABILITY Cloud Data Summary:")
print(backup_data.describe())

PUFF_PROBABILITY Cloud Data Summary:
          timestamp  event  participant_id        hour      minute
count  4.140000e+02  414.0      414.000000  414.000000  414.000000
mean   1.519831e+12    1.0      226.101449   14.958937   29.045894
std    1.473644e+10    0.0       17.016424    4.884204   17.028116
min    1.500000e+12    1.0      202.000000    0.000000    0.000000
25%    1.510000e+12    1.0      213.000000   12.000000   15.000000
50%    1.510000e+12    1.0      220.000000   16.000000   29.500000
75%    1.540000e+12    1.0      242.000000   18.000000   44.000000
max    1.540000e+12    1.0      253.000000   23.000000   59.000000

In [16]:
original_data.shape

(420, 7)

In [11]:
backup_data.shape

(279, 7)

In [12]:
# count rows per participant
original_data['participant_id'].value_counts().sort_index()

201.0     1
202.0     5
203.0     1
205.0    38
206.0     1
207.0    11
208.0     3
209.0     1
210.0     1
211.0    21
212.0     7
213.0     6
214.0    44
215.0     7
216.0     7
217.0    12
218.0     8
219.0    17
220.0     7
222.0     1
228.0    27
229.0    14
230.0     8
231.0     5
233.0     2
234.0     5
235.0     4
Name: participant_id, dtype: int64

In [17]:
backup_data['participant_id'].value_counts().sort_index()

202.0     5
204.0    11
205.0    38
207.0    12
208.0     7
209.0     1
211.0    21
212.0     7
213.0     7
214.0    44
215.0     7
216.0     7
217.0    12
218.0     8
219.0    17
220.0     9
222.0    15
228.0    27
230.0     8
231.0     5
233.0     2
234.0     5
235.0     4
238.0     4
240.0    16
241.0     2
242.0    22
245.0     5
246.0     6
247.0     1
249.0     2
250.0    15
252.0    14
253.0    48
Name: participant_id, dtype: int64

In [18]:
# Look at the participant_id intersection of the backup and original datasets
unique_backup_ids = set(backup_data.participant_id)
unique_original_ids = set(original_data.participant_id)
ids_intersection = unique_backup_ids.intersection(unique_original_ids)

original_data_subset = original_data[original_data.participant_id.isin(ids_intersection)]
backup_data_subset = backup_data[backup_data.participant_id.isin(ids_intersection)]

print unique_backup_ids.difference(unique_original_ids)
print unique_original_ids.difference(unique_backup_ids)

set([204.0])
set([229.0, 201.0, 203.0, 206.0, 210.0, 244.0, 251.0])

In [19]:
# In intersection, the backup is a superset of the observations. 
# Therefore, the backup shoud be used for analysis where possible.
print(original_data_subset.shape)
temp_original = pd.DataFrame(original_data_subset['participant_id'].value_counts().sort_index())
temp_backup = np.array(backup_data_subset['participant_id'].value_counts().sort_index())
temp_original['backup'] = temp_backup
temp_original.columns = ['original', 'backup']
temp_original

print temp_original['backup'] - temp_original['original']

sum(temp_original['backup'] - temp_original['original'])

(381, 7)
202.0     0
205.0     0
207.0     1
208.0     4
209.0     0
211.0     0
212.0     0
213.0     1
214.0     0
215.0     0
216.0     0
217.0     0
218.0     0
219.0     0
220.0     2
222.0    14
228.0     0
230.0     0
231.0     0
233.0     0
234.0     0
235.0     0
238.0     0
240.0     0
241.0     0
242.0     0
245.0     0
246.0     0
247.0     0
249.0     0
250.0     0
252.0     0
253.0     0
dtype: int64

22

In [41]:
s1 = set() # cloud data only
s2 = set() # phone data only

d = {}
lst2 = []
lst1 = []
for index, row in backup_data.iterrows():
    participant_id = row['participant_id']
    hour = row['hour']
    minute = row['minute']
    day_of_week = row['day_of_week']
    valid_key = (participant_id, hour, minute, day_of_week)
    s1.add(valid_key)
    d[valid_key] = index

for index, row in original_data.iterrows():
    participant_id = row['participant_id']
    hour = row['hour']
    minute = row['minute']
    day_of_week = row['day_of_week']
    valid_key = (participant_id, hour, minute, day_of_week)
    if valid_key in s1:
        s1.remove(valid_key)
    else:
        # print(index)
        lst2.append(index)

lst1 = []
for i in s1:
    lst1.append(d[i])

lst1.sort()
difference = backup_data.ix[lst1].dropna()
print(difference.shape)
difference # rows in the backup but not in the original

(33, 7)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:33: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,timestamp,event,participant_id,date,hour,minute,day_of_week
5,1.502740e+12,1.0,204.0,8/14/17 16:42,16.0,42.0,Monday
6,1.502740e+12,1.0,204.0,8/14/17 17:03,17.0,3.0,Monday
7,1.502750e+12,1.0,204.0,8/14/17 19:07,19.0,7.0,Monday
8,1.502760e+12,1.0,204.0,8/14/17 20:18,20.0,18.0,Monday
9,1.502760e+12,1.0,204.0,8/14/17 21:14,21.0,14.0,Monday
10,1.502810e+12,1.0,204.0,8/15/17 9:56,9.0,56.0,Tuesday
11,1.502810e+12,1.0,204.0,8/15/17 10:12,10.0,12.0,Tuesday
12,1.502810e+12,1.0,204.0,8/15/17 10:29,10.0,29.0,Tuesday
13,1.502820e+12,1.0,204.0,8/15/17 12:59,12.0,59.0,Tuesday
14,1.502820e+12,1.0,204.0,8/15/17 14:23,14.0,23.0,Tuesday
15,1.502820e+12,1.0,204.0,8/15/17 14:38,14.0,38.0,Tuesday
54,1.506110e+12,1.0,207.0,9/22/17 15:41,15.0,41.0,Friday
66,1.505760e+12,1.0,208.0,9/18/17 15:40,15.0,40.0,Monday
67,1.505770e+12,1.0,208.0,9/18/17 16:45,16.0,45.0,Monday
68,1.505780e+12,1.0,208.0,9/18/17 20:57,20.0,57.0,Monday
69,1.505950e+12,1.0,208.0,9/20/17 18:15,18.0,15.0,Wednesday
107,1.508340e+12,1.0,213.0,10/18/17 11:47,11.0,47.0,Wednesday
204,1.511810e+12,1.0,220.0,11/27/17 13:18,13.0,18.0,Monday
205,1.511810e+12,1.0,220.0,11/27/17 14:06,14.0,6.0,Monday
214,1.512580e+12,1.0,222.0,12/6/17 10:52,10.0,52.0,Wednesday
215,1.512580e+12,1.0,222.0,12/6/17 12:22,12.0,22.0,Wednesday
216,1.512580e+12,1.0,222.0,12/6/17 12:42,12.0,42.0,Wednesday
217,1.512590e+12,1.0,222.0,12/6/17 15:50,15.0,50.0,Wednesday
218,1.512610e+12,1.0,222.0,12/6/17 19:03,19.0,3.0,Wednesday
219,1.512610e+12,1.0,222.0,12/6/17 19:48,19.0,48.0,Wednesday
220,1.512610e+12,1.0,222.0,12/6/17 20:18,20.0,18.0,Wednesday
221,1.512610e+12,1.0,222.0,12/6/17 21:29,21.0,29.0,Wednesday
222,1.512620e+12,1.0,222.0,12/6/17 22:11,22.0,11.0,Wednesday
223,1.512620e+12,1.0,222.0,12/6/17 22:22,22.0,22.0,Wednesday
224,1.512660e+12,1.0,222.0,12/7/17 9:27,9.0,27.0,Thursday
225,1.512660e+12,1.0,222.0,12/7/17 9:50,9.0,50.0,Thursday
226,1.512770e+12,1.0,222.0,12/8/17 16:33,16.0,33.0,Friday
227,1.512780e+12,1.0,222.0,12/8/17 19:44,19.0,44.0,Friday

In [42]:
difference = original_data.ix[lst2]
print(difference.shape)
difference # rows in the original but not in the backup

(18, 7)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,timestamp,event,participant_id,date,hour,minute,day_of_week
0,1.498340e+12,1.0,201.0,6/24/17 17:46,17.0,46.0,Saturday
6,1.502940e+12,1.0,203.0,8/16/17 21:57,21.0,57.0,Wednesday
45,1.506350e+12,1.0,206.0,9/25/17 9:52,9.0,52.0,Monday
61,1.506710e+12,1.0,210.0,9/29/17 14:06,14.0,6.0,Friday
226,1.523640e+12,1.0,229.0,4/13/18 14:00,14.0,0.0,Friday
227,1.523660e+12,1.0,229.0,4/13/18 18:48,18.0,48.0,Friday
228,1.523710e+12,1.0,229.0,4/14/18 9:11,9.0,11.0,Saturday
229,1.523730e+12,1.0,229.0,4/14/18 15:00,15.0,0.0,Saturday
230,1.523740e+12,1.0,229.0,4/14/18 18:18,18.0,18.0,Saturday
231,1.523760e+12,1.0,229.0,4/14/18 22:06,22.0,6.0,Saturday
232,1.523800e+12,1.0,229.0,4/15/18 9:06,9.0,6.0,Sunday
233,1.523830e+12,1.0,229.0,4/15/18 19:12,19.0,12.0,Sunday
234,1.523840e+12,1.0,229.0,4/15/18 20:36,20.0,36.0,Sunday
235,1.523840e+12,1.0,229.0,4/15/18 22:08,22.0,8.0,Sunday
236,1.523880e+12,1.0,229.0,4/16/18 7:50,7.0,50.0,Monday
237,1.523900e+12,1.0,229.0,4/16/18 12:55,12.0,55.0,Monday
238,1.523910e+12,1.0,229.0,4/16/18 14:59,14.0,59.0,Monday
239,1.523930e+12,1.0,229.0,4/16/18 22:13,22.0,13.0,Monday